#r{
	 -fx-background-color:  linear-gradient(lightgray, white);
            -fx-border-color: gray;
          -fx-padding: 10.0 10.0 10.0 10.0;
}
#t {
-fx-font-size: 14.0px;
    -fx-font-family: "Arial ";
 
    -fx-fill: white;
}
#b{
	 
    	}
 #card{
 	 -fx-border-color: 
        linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));

 }   	
    #sep{
    	-fx-background-color: transparent ;
    }	
#background {
    -fx-background-image: url("CoarseGrid.png");
    -fx-background-repeat: repeat;
	-fx-background-color:
        linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));
}
#ButtomPane{
	  -fx-background-image: url("CoarseGrid2.png");
    -fx-background-repeat: repeat;
	-fx-background-color : white;
}